.form_class{
    display: table;
}
div.form_element{
    display: table-row;
}
label,input{
    display: table-cell;
    margin-bottom: 15px;
}

label{
    padding-right: 10px;
}

input[type="text"],input[type="number"]{
    border: solid rgb(77, 77, 224) 1px;
}
