* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 300px;
    border: 1px solid green;
    margin: 50px auto;
    height: 300px;
}

.row-1 {
    height: 50%;
    width: 100%;
    border: 1px solid yellow;
}

img {
    background-color: khaki;
    display: block;
    height: 100%;
    border-radius: 50%;
}
.row-2 span {
    display: block;
    margin: 0 auto;
    width: 40%;
}